h1	{
	color: white  ;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color:#170396;
	border-bottom-width: 4px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 3px 2px #00EB76;
}
h2	{
	color:#00EB76  ;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 4px;
}
body 	{
	background-color:#170396    ;
	font-family: sans-serif;
}
.head	{
	color: blue;
	padding-top: 50px;
	margin: 10px;
	font-size: 30px;
	text-align: center;
}
p	{
	color: magenta;
	padding:20px;
}
img	{
	width: 400px;
	border: 15px;
	border-color: #FEF309;
	border-style: dashed;
}
.rotate	{
	transform: rotate(90deg);
}
.teal	{
	color:#00DAFF;
}
.teal2	{
	color:#00848C;
}
.pink	{
	color:#FF00CD;
}
.pink2	{
	color:#8C0077;
}
.red	{
	color:#FF0000;
}
.red2	{
	color:#9A0000;
}
.blue	{
	color:#0059FF;
}
.blue2	{
	color:#023697;
}
.wrapper	{
	background-color:#009EFF  ;
	width: 90%;
	margin: 0 auto;
}
footer	{
	text-align: center;
}
.teal3	{
	border:5px #00DAFF solid;
	background-color: #FED1F3 ;
	padding: 5px;
	margin: 10px;
}
.pink3	{
	border:5px #FF00CD dashed;
	background-color: #EEF9C4;
	padding: 5px;
	margin: 10px;
}
.red3	{
	border:5px #FF0000 solid;
	background-color: #C9F9C4;
	padding: 5px;
	margin: 10px;
}
.blue3	{
	border:5px #0059FF dashed;
	background-color: #F9DDC4 ;
	padding: 5px;
	margin: 10px;
}
.ufont	{
	text-decoration:underline;
}
.ifont	{
	font-style:italic;
}
a 	{
	font-size: 25px;
	text-align: center;
	border: 5px  #F1978E solid;
	padding: 5px;
	margin: 20px auto;
	text-align: center;
	background-color:#50555D         ;
	display: inline;
	color: #C0D5FA;
	width: 20%;
}
nav	{
	width: 80%;
	margin: 20px auto;
	background-color: #0A0261;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border: solid 10px #A3ADBA  ;
	text-align: center;
}

h4	{
	font-size: 30px;
	color: #F1978E      ;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration: underline;
}
a:link {
  color: #E1BAFF       ;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:visited {
  color: #BAD9FF      ;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:hover {
  color: #BAFFBB        ;
  text-decoration: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:active {
  color: #FFFF69      ;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
