body{
	background-color: #dedede;
}
.gallery{
	display: flex;
	width: 900px;
	margin: auto;
	justify-content: space-between;
	flex-wrap: wrap;
}
figure	{
	width: 200px;
	margin: 8px 0;
	border: 1px solid #777;
	padding: 8px;
	background-color: #fff;
}
figure img{
  width: 100%;
}
figure figcaption{
  text-align: center;
  padding: 8px 4px;
}
*{
	box-sizing: border-box;
}
.invert	{
	-webkit-filter: invert(1);
	filter: invert(1);
	transition: 2s;
	animation-timing-function: ease-in-out;
}
.grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.image-blur {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
a 	{
	font-size: 25px;
	text-align: center;
	border: 5px  #F1978E solid;
	padding: 5px;
	margin: 20px auto;
	text-align: center;
	background-color:#50555D         ;
	display: inline;
	color: #C0D5FA;
	width: 20%;
}
nav	{
	width: 80%;
	margin: 20px auto;
	background-color: #0A0261;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border: solid 10px #A3ADBA  ;
	text-align: center;
}

h4	{
	font-size: 30px;
	color: #F1978E      ;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration: underline;
}
a:link {
  color: #E1BAFF       ;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:visited {
  color: #BAD9FF      ;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:hover {
  color: #BAFFBB        ;
  text-decoration: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:active {
  color: #FFFF69      ;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
