body	{
	font-size: 20px;
}
h1	{
	font-size: 70px;
	text-align: center;
	margin: 40px auto;
	font-family: "Lucida Console", Monaco, monospace;
	border-bottom: #FF0000 dashed 15px;
	width: 55%;
}
h2	{
	font-size: 40px;
	margin: 10px;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
}
h3	{
	font-size: 30px;
	border-bottom: dashed white 10px;
	width: 30%;
	font-family: "Lucida Console", Monaco, monospace;
}
.floatl	{
	float: left;
}
img	{
	border: 5px black solid;
	margin: 10px;
	width: 300px;
}
.clea#FF0000	{
	display: flow-root;
}
section	{
	background-color: #FF0000;
	padding: 20px;
	margin: 20px;
	border: 5px white solid;
}
.wrapper	{
	width: 80%;
	margin: 0 auto;
	border: 5px black solid;
	padding: 10px;
	background-color: #010101 ;
	border: 10px #FF0000 solid;
}
footer	{
	background-color: #010101  ;
	text-align: center;
	color: white;
}
.floatr		{
	float: right;
}
body		{
	color: white;
	font-family: Verdana, Geneva, sans-serif;
}
p 		{
	margin-bottom: 10px;
}
.red	{
	color: red;
}
.link	{
	background-color:#16839A;
}
.list	{
	font-size: 26px;
}
.link 	{
	font-size: 25px;
	text-align: center;
	border: 5px  #004287   solid;
	padding: 5px;
	margin: 15px;
	background-color:#ADFAFF          ;
	display: inline;
	color: #C0D5FA;
	width: 20%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
nav	{
	margin: 10px auto;
	background-color: #AFBFCF  ;
	padding-bottom: 20px;
	border: solid 5px #004287      ;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h4	{
	font-size: 30px;
	color: #8A1C72      ;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration: underline;
}
a:link {
  color: #34923D       ;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:visited {
  color: #F91DEF      ;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:hover {
  color: #D3841A        ;
  text-decoration: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:active {
  color: #C92121      ;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}