.ione	{
	width: 5%;
}
.itwo	{
	width: 300px;
}
h1	{
	font-size: 50px;
	text-decoration: underline;

}
h2	{
	font-size: 40px;
	color: #A3ADBA ;
}
body	{
	background-color:#50555D           ;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	text-align: center;
}
.wrapper	{
	background-color:#C0D5FA  ;
	width: 70%;
	margin: 0 auto;
	padding: 15px;
	border: dashed 30px #F1978E ;
}
.head	{
	background-color: #0A0261;
	padding: 20px;
	border-bottom: double 15px #F1978E;
	border-top: double 15px #F1978E;
	border-right: solid 10px #A3ADBA  ;
	border-left: solid 10px #A3ADBA  ;
	margin: 10px;
	text-align: center;
	color: #C0D5FA;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
 	letter-spacing:0.1em;
}
.p1 	{
	font-size: 20px;
	text-align: center;
	margin: 20px auto;
	color: #50555D       ;
}
h4	{
	font-size: 35px;
	text-decoration: bold;
	text-decoration: underline #F1978E;
	color: #F1978E;
}
a:link {
  color: #E1BAFF     ;
}
a:visited {
  color: #BAD9FF      ;
}
a:hover {
  color:#BAFFBB        ;
}
a:active {
  color: #FFFF69      ;
}
.section1	{
	background-color: #0A0261;
	width: 50%;
	margin: 20px auto;
	padding: 1px;
	border: solid 5px #F1978E;
}
img	{
	border: solid 10px #C0D5FA;
}
a 	{
	font-size: 25px;
	text-align: center;
	border: 5px  #F1978E solid;
	padding: 5px;
	margin: 20px auto;
	background-color:#50555D         ;
	display: block;
	color: #C0D5FA;
	width: 20%;
}
nav	{
	width: 80%;
	margin: 20px auto;
	background-color: #0A0261;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border: solid 10px #A3ADBA  ;
}
