h1	{
	color:#06B0C4;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration:underline;
}
h4	{
	color:#033B6A;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
p	{
	color:#033B6A;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h2	{
	color:#06B0C4;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
img	{
	width: 300px;
	border: 20px;
	border-color: #6CD7EC;
	border-style: dashed;
}
body {
	background-color:#F7DEFE;
}
.magenta	{
	color:magenta;
}
.blue	{
	color:blue;
}
.orange	{
	color:orange;
}
.yellow	{
	color:#CEC015;
}
.green	{
	color:green;
}
.red	{
	color:red;
}
.purple	{
	color:purple;
}
.lgreen	{
	color:#55FF00;
}
.grey	{
	color:grey;
}
.ufont	{
	text-decoration:underline;
}
.ifont	{
	font-style:italic;
}
a:link {
  color: #34923D       ;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:visited {
  color: #F91DEF      ;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:hover {
  color: #D3841A        ;
  text-decoration: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
a:active {
  color: #C92121      ;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.link 	{
	font-size: 25px;
	text-align: center;
	border: 5px  #004287   solid;
	padding: 5px;
	margin: 15px;
	background-color:#ADFAFF          ;
	display: inline;
	color: #C0D5FA;
	width: 20%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
nav	{
	margin: 20px auto;
	background-color: #AFBFCF  ;
	padding-bottom: 20px;
	border: solid 5px #004287      ;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h3	{
	font-size: 30px;
	color:#8A1C72      ;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration: underline;
}
