h1	{
	color:#06B0C4;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration:underline;
}
h4	{
	color:#033B6A;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
p	{
	color:#033B6A;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h2	{
	color:#06B0C4;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	border: 5px blue solid;
	padding: 10px;
	margin: 30px;
}
img	{
	width: 300px;
	border: 20px;
	border-color: #6CD7EC;
	border-style: dashed;
}
body {
	background-color:#FD13D2;
}
.magenta	{
	color:magenta;
}
.blue	{
	color:blue;
}
.orange	{
	color:orange;
}
.yellow	{
	color:#CEC015;
}
.green	{
	color:green;
}
.red	{
	color:red;
}
.purple	{
	color:purple;
}
.lgreen	{
	color:#55FF00;
}
.grey	{
	color:grey;
}
.ufont	{
	text-decoration:underline;
}
.ifont	{
	font-style:italic;
}
.wrapper	{
	width: 60%;
	margin: 0 auto;
	background-color: white;
}
footer	{
	text-align: center;
}
.